
body{
	margin: 0px;
 }

 .site-banner {
 	border-top: 8px solid black;
 	border-bottom: 1px solid black;
 	padding: 20px;
 	text-align: center;
 }

img {
 	width: 330px;
 }
	

h3{
	font-family: Times New Roman , sans-serif;
	font-style: bold;
	font-size: 18px;
	color: #de2f23;
	letter-spacing: 1px;
}


.article{
	max-width: 900px;
	margin-left: 5%;
	margin-right: 5%;
}

.story-header{
	font-family: Times New Roman, sans-serif;
	font-size: 30px;
}

h1{
	size: 48px;
	margin-bottom: 0px;
}

.byline{
	font-style: bold;
}

.story-copy{
	font-family: Times New Roman, sans-serif;
	font-size: 20px;

}

.photo{
	width: 100%;
}

.photo-caption{
	color: gray;
	font-size: 14px;
	margin-top: 0px;
}


.footer{
	font-family: Times New Roman, sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-info{
	color: gray;
	font-size: 14px;
}

a{
	color: black;
}

a:hover{
	color: gray;
	text-decoration-color: goldenrod;
}



